@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Matter';
    font-weight: 300;
    src: url(/assets/fonts/Matter-Light.otf) format("otf");
  }
  @font-face {
    font-family: 'Matter';
    font-weight: 400;
    src: url(/assets/fonts/Matter-Regular.otf) format("otf");
  }
  @font-face {
    font-family: 'Matter';
    font-weight: 500;
    src: url(/assets/fonts/Matter-Medium.otf) format("otf");
  }
  @font-face {
    font-family: 'Matter';
    font-weight: 600;
    src: url(/assets/fonts/Matter-SemiBold.otf) format("otf");
  }
  @font-face {
    font-family: 'Matter';
    font-weight: 700;
    src: url(/assets/fonts/Matter-Bold.otf) format("otf");
  }
  @font-face {
    font-family: 'Matter';
    font-weight: 800;
    src: url(/assets/fonts/Matter-Heavy.otf) format("otf");
  }
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 6px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--customGray-300);
  border-radius: 14px;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --customGray-300: "#414141";
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  /* font-family: Arial, Helvetica, sans-serif; */
}
